.home-main {
  background: rgb(15, 15, 66);
}
.home-page-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}
.selfInfo-maindiv {
  width: 60%;
  height: 100%;
}
.profileDp-maindiv {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ########################## Self Info */
.selfinfo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.selfinfo-div-child {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.selfinfo-div h1 {
  font-size: 3rem;
}
.selfinfo-div h3 {
  font-size: 2rem;
}
.selfinfo-div p {
  font-size: 1.6rem;
}
.social-icons {
  display: flex;
}
.icon {
  font-size: 2rem;
  padding: 5px;
}
.btn-div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}
.button-primary {
  padding: 10px 30px;
  background-color: rgb(15, 15, 66);
  border: 1px solid #fff;
}
.button-secondary {
  background-color: rgb(243, 77, 1);
  padding: 10px 20px;
  border: 1px solid rgb(15, 15, 66);
}

/* ################################# Profile DP */
.profileDp-div {
  height: 80%;
  width: 60%;
  border-radius: 50%;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileDp {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background: url("../assets/gautala2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profileDp:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease;
}

/* #################################### Navbar */
.header {
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  align-items: center;
  height: 5rem;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-symbol {
  font-size: 2rem;
}
.header-list p {
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .profileDp-div {
    width: 80%;
  }
}

@media (max-width: 810px) {
  .profileDp-div {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .profileDp-div {
    width: 80%;
  }
  .btn-div {
    width: 80%;
  }
}
@media (max-width: 595px) {
  .home-page-div {
    flex-direction: column;
    height: 110vh;
  }
  .selfInfo-maindiv {
    width: 100%;
    height: 50%;
  }
  .profileDp-maindiv {
    width: 100%;
    height: 50%;
  }
  .profileDp-div {
    height: 100%;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
  .hamberger-menu {
    visibility: visible;
  }
}
@media (max-width: 450px) {
  .profileDp-div {
    width: 80%;
  }
}
@media (max-width: 330px) {
  .btn-div {
    flex-direction: column;
    width: 100%;
  }
  .button {
    margin-bottom: 1rem;
  }
}
