.about-me-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.chooseme {
  font-size: 1.6rem;
  color: #444;
  letter-spacing: 2px;
  text-align: center;
}
.aboutme-hr-div {
  width: 300px;
  height: 2px;
  background-color: rgb(15, 15, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-bighr-div {
  height: 10px;
  width: 40px;
  background-color: rgb(243, 77, 1);
  border-radius: 50px;
}
.aboutme-left-right-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70%;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* ################################# About Me Right */
.aboutme-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.why-choose-me-text p {
  font-size: 1.6rem;
}
.aboutme-highlight p {
  font-size: 1.6rem;
}
.headline-child {
  display: flex;
  align-items: center;
}
.orange-point {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: rgb(243, 77, 1);
}

/* ################################# About Me Left */
.aboutleft-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-image {
  height: 100%;
  width: 100%;
  background: url("../assets/gautala2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1000px) {
  .aboutme-left-right-div {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .aboutme-left-right-div {
    flex-direction: column;
    height: 130vh;
  }
  .aboutme-right {
    width: 100%;
    height: 50%;
  }
  .aboutleft-div {
    width: 100%;
    height: 50%;
  }
  .about-me-image {
    height: 100%;
    width: 70%;
  }
}
@media (max-width: 570px) {
  .aboutme-right {
    height: 60%;
  }
  .aboutleft-div {
    height: 40%;
  }
}
@media (max-width: 330px) {
  .aboutme-left-right-div {
    height: 150vh;
  }
  .aboutme-right {
    height: 80%;
    padding: 5px;
  }
  .aboutleft-div {
    height: 20%;
  }
  .aboutme-hr-div {
    width: 150px;
  }
}
